html, body {
    width: 100vw;
    height: 100vh;
  }

:root {
    --primary-color: #6279B8;
    --secondary-color: #496F5D;
    --accent2-color: #4C9F70;
    --accent1-color: #8EA4D2;
}

header {
    background-color: var(--accent1-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img {
    width: 150px;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: center;
    font-size: 1.5rem;
    justify-content: space-between;
}

.historysections {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.historysections img {
    width: 350px;
    height: 250px;
    padding: 10px;
}

.historysections div {
    display: flex;
    justify-content: space-between;

}
.historysections p {
    text-wrap: wrap;
}

.historysections h2 {
    display: flex;
    justify-content: center;
}

.fiveimages div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* display: grid;
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px; */
}

.fiveimages h2{
    display: flex;
    justify-content: center;
}

.fiveimages img {
    display: block;
    width: 210px;
    height: 180px;
    padding: 1px;
}

.fiveimages figure {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#background-pic {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    background-color: var(--accent1-color);
    padding: 50px;
}

.hero p {
    color: black;
    width: 700px;
    padding: 10px;
}



.hero h1 {
    color: var(--secondary-color);
    background-color: aliceblue;
    /* opacity: 0.8; */
    position: absolute;
    top: 10px;
    
}

h2 {
    color: var(--secondary-color);
}

article {
    position: absolute;
    background-color: var(--primary-color);
    width: 1300px;
    /* bottom: 130px;
    left: 60px; */
}

article img {
    float: right;
    width: 300px;
} 

footer {
    background-color:var(--accent1-color) ;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: center;
}

footer p {
    text-align: center;
    margin: auto;
    width: 100%;
}

.sociallinks img {
    width: 40px;
    padding: 2px;
}

.sociallinks nav{
    width: 600px; 
    display: flex;
    flex-direction: row;
} 

/* ---------------------------------------------Contact Us page------------------------------------------------------------- */

.beginning {
    background-color: var(--secondary-color);
    height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.outsidesales {
    display: flex;
    justify-content: center;
}

.salesdep {
     height: 200px;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     font-size: 20px;
     border-color: black;
     border-style: solid;
     width: 500px;
     padding: 20px;
}

.location {
    height: 400px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.locationinfo {
     display: flex;
     justify-content: center;
     align-items: left;
     flex-direction: column;
     text-align: left;
     font-size: 15px;
     padding: 100px;
}

.workerssec {
    height: 1850px;
    display: flex;
    flex-direction: column;
    
}

.workerssec h2 {
    padding: 80px;
    text-align: center;
    font-size: 40px;
}

.workertext {
    text-align: center;
    padding: 50px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.workerssec img {
    width: 400px;
}

.formpart{
    display: flex ;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: var(--accent1-color);
    border-bottom: black;
    border-style: solid;
}

#sendbutton {
    cursor: pointer;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: white;
    
}
.formpart div {
    display: flex;
    justify-content: center;
    align-items: center;
}